tests/chromedriver
*DS_Store*
node_modules*
.env
.envrc
npm-debug.log
error*.jpg
screenshot_*.jpg
downloads_*
*_lang_*.feature
*_report_*
_al_test_project_name.json
.history

# Python related
__pycache__/
docassemble.AssemblyLine.egg-info/*
**/*.pyi
.mypy_cache/**
**/.mypy_cache/**
dist/**
.venv/**

# IDE related
.vscode/**
