/*---------------------------------------------------------*/
/* Logo and title 
/*---------------------------------------------------------*/
.title, .logo {
    display: inline;        
    font-weight: bold;
    font-size: 20px; 
    padding: 0 5px;
    text-transform: none; /*prevent any bootstrap theme to transform it to uppercase */
}
.logo {
    background-color: #e0e7ea; /* #0f364d; blue, #997416; golden*/
    text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 3px darkblue;
    font-style: italic;        
    color: red;
    padding: 2px 3px 2px 1px;  
    margin-right: 1%;
    border-style: ridge;
    border-width: 8px;
    border-color: whitesmoke;    
}
@media only screen and (max-width: 800px) {
  .title, .logo {
    font-weight: normal;
    font-size: 60%;    
  }
  #top_nav {
    -webkit-transform: rotateY(-25deg); 
  }
  .logo {    
    border-width: 4px; 
  }  
  .d-block {    
    margin-left: -15px;  
  }
  .danavbar-title {
    overflow: visible !important;    
  }
}
/*---------------------------------------------------------*/
/* Navigation bar and footer
/*---------------------------------------------------------*/
/*.navbar {
    height: 60px;
}
*/
.da-pad-for-navbar {
    padding-top: 70px;
}
.da-top-for-navbar {
    top: 70px;
}
footer {
  text-align: right
}
footer a {
  padding-left: 2em;
}
/*---------------------------------------------------------*/
/* Content
/*---------------------------------------------------------*/
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: .75em;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
/* [FILE] image shadow */
.daicon {    
  box-shadow: 5px 5px 15px #69868e;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}
/* Reduce integer and number input box size */
input[type=number] {
  width: 10rem;
}
/* Widen the Submit button (button labels vary) */
.btn[type='submit'] {
  min-width: 8em;
}