name: Use the ALKiln testing framework

on:
  push:
    tags-ignore:
      - v*
  workflow_dispatch:
    inputs:
      extra_languages:
        description: 'Optional. A list of comma separated language names visible on buttons or links in the interview that change the language of the interview. Overrides the EXTRA_LANGUAGES GitHub secret.'
        default: ''
      tags:
        description: 'Optional. Use a "tag expression" specify which tagged tests to run. See https://cucumber.io/docs/cucumber/api/#tag-expressions for syntax.'
        default: ''

jobs:

  interview-testing:
    runs-on: ubuntu-latest
    name: Run interview tests
    steps:
      - uses: actions/checkout@v2
      - name: Use ALKiln to run tests
        uses: suffolkLITLab/ALKiln@releases/v4
        with:
          SERVER_URL: "${{ secrets.SERVER_URL }}"
          PLAYGROUND_EMAIL: "${{ secrets.PLAYGROUND_EMAIL }}"
          PLAYGROUND_PASSWORD: "${{ secrets.PLAYGROUND_PASSWORD }}"
          PLAYGROUND_ID: "${{ secrets.PLAYGROUND_ID }}"
          EXTRA_LANGUAGES: "${{ secrets.EXTRA_LANGUAGES }}"
      - run: echo "Finished running ALKiln tests"
